{% extends "base.html" %}

{% block content %}

    <!-- Title -->
    <section class="py-4 py-xl-2">
        <div class="container">
            <h1>{{ user.username }}</h1>
        </div>
    </section>

    <!-- Breadcrumbs -->
    <section class="py-4 py-xl-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-secondary" href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="link-secondary">Accounts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- User details card (Optional) -->
    {% if details %}
        <section class="py-4 py-xl-2">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">Email: {{ user.email }}</p>
                        <p class="card-text">First Name: {{ user.first_name }}</p>
                        <p class="card-text">Last Name: {{ user.last_name }}</p>
                        <p class="card-text">Posts: {{ posts|length }}</p>
                        <p class="card-text">Comments: {{ comments|length }}</p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <!-- User posts card-->
    <section class="py-4 py-xl-2">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posts</h5>
                    <ul class="list-group list-group-flush">
                        {% for post in posts %}
                            <li class="list-group-item">
                                <a href="{% url 'post' post.post_topic.id post.id %}">{{ post.post_title }}</a>
                                <!--First 100 words-->
                                <p>{{ post.post_content|truncatewords_html:100 }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- User comments card -->
    <section class="py-4 py-xl-2">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <ul class="list-group list-group-flush">
                        {% for comment in comments %}
                            <li class="list-group-item">
                                <a href="{% url 'post' comment.comment_post.post_topic.id comment.comment_post.id %}">{{ comment.comment_post.post_title }}</a>
                                <!--First 100 words-->
                                <p>{{ comment.comment_content|truncatewords_html:100 }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>



{% endblock %}