{% extends "base.html" %}

{% block content %}
    <section class="py-4 py-xl-2">
        <div class="container">
            <h1>Topics</h1>
        </div>
    </section>
    <section class="py-4 py-xl-2">
        <div class="container">
            <!-- Home Bread crumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>
    </section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-12 g-4">
            {% for topic in topics %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <a class="link-secondary" href="{% url 'topic' topic.id %}"><h5 class="card-title">{{ topic.topic_name }}</h5></a>
                            <p class="card-text">{{ topic.topic_description }}</p>
                            <!-- latest as subcard if has latest-->
                            {% if topic.get_latest_post %}
                                <div class="card bg-light mb-3">
                                    <div class="card-body">
                                        <h6 class="card-title">Latest</h6>
                                        <a href="{{ topic.get_latest_post_link }}" class="link-secondary"><p class="card-text">{{ topic.get_latest_post }}</p></a>
                                        <p class="card-text">By {{ topic.get_latest_post.post_user.username }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <p class="card-text">Posts: {{ topic.post_set.count }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {{ context }}

{% endblock %}

