{% extends "base.html" %}

{% block content %}
    <section class="py-4 py-xl-2">
        <div class="container">
            <h1>{{ post }}</h1>
        </div>
    </section>

    <section class="py-4 py-xl-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'topic' post.post_topic.id %}">{{ post.post_topic.topic_name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ post }}</li>
                </ol>
            </nav>
        </div>
    </section>

{% endblock %}