{% extends "base.html" %}

{% block content %}
    <!-- Title -->
    <section class="py-4 py-xl-2">
        <div class="container">
            <h1>{{ post }}</h1>
        </div>
    </section>

    <!-- Breadcrumbs -->
    <section class="py-4 py-xl-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %} " class="link-secondary" >Home</a></li>
                    <li class="breadcrumb-item"><a class="link-secondary"
                            href="{% url 'topic' post.post_topic.id %}">{{ post.post_topic.topic_name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Display Post -->
    <section class="py-4 py-xl-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ post.post_content }}</p>
                            <p class="card-text"><small class="text-muted">Posted by <a
                                    href="{% url 'view_user' post.post_user.id %}"
                                    class="link-secondary">{{ post.post_user.username }}</a>
                                on {{ post.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Display Comments -->
    {% for comment in page_obj %}
        <!-- If sticky outline in red-->
        {% if comment.comment_sticky %}
            <section class="py-4 py-xl-2">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="card border-danger">
                                <div class="card-body">
                                    <p class="card-text">{{ comment.comment_content }}</p>
                                    <p class="card-text"><small class="text-muted">
                                        Posted by <a href="{% url 'view_user' comment.comment_user.id %}"
                                                     class="link-secondary">{{ comment.comment_user.username }}</a>
                                        on {{ comment.created_at }} | Sticky</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <section class="py-4 py-xl-2">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">{{ comment.comment_content }}</p>
                                    <p class="card-text"><small class="text-muted">
                                        Posted by <a href="{% url 'view_user' comment.comment_user.id %}"
                                                     class="link-secondary">{{ comment.comment_user.username }}</a>
                                        on {{ comment.created_at }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}


    {% endfor %}
    `
    <!-- Pagination-->
    <section class="py-4 py-xl-2">
        <div class="container">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                 </span>
            </div>
        </div>
    </section>

    <!-- Reply Box -->
    {% if not post.post_locked %}
        {% include 'forum/form/comment_form.html' %}
    {% endif %}


{% endblock %}