{% extends "base.html" %}

{% block content %}
    <section class="py-4 py-xl-2">
        <div class="container">
            <h1>{{ post }}</h1>
        </div>
    </section>

    <section class="py-4 py-xl-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a
                            href="{% url 'topic' post.post_topic.id %}">{{ post.post_topic.topic_name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Display Post -->

    <section class="py-4 py-xl-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ post.post_content }}</p>
                            <p class="card-text"><small class="text-muted">Posted by {{ post.post_user.username }}
                                on {{ post.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Display Comments -->

    {% for comment in comments %}
        <section class="py-4 py-xl-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">{{ comment.comment_content }}</p>
                                <p class="card-text"><small class="text-muted">Posted
                                    by {{ comment.comment_user.username }} on {{ comment.created_at }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endfor %}

    {% include 'forum/form/comment_form.html' %}

{% endblock %}