{% extends "base.html" %}

{% block content %}
    <section class="py-4 py-xl-2">
        <div class="container">
            <h1>{{ topic }}</h1>
        </div>
    </section>

    <section class="py-4 py-xl-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ topic }}</li>
                </ol>
            </nav>
            <div class="d-flex flex-row-reverse">
                <a href="{% url 'new_post' topic.id %}">
                    <button type="button" class="btn btn-secondary btn-sm">Post</button>
                </a>
            </div>
        </div>
    </section>

    {% for post in page_obj %}
        <!-- Display post as card -->
        <section class="py-1 py-xl-1">
        <div class="container">
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{% url 'post' post.post_topic.id post.id %}" class="link-secondary"><h5
                            class="card-title">{{ post.post_title }}</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">By: {{ post.post_user.username }}</h6>
                    <p class="card-text">Last Comment
                        By: {{ topic.get_latest_comment.comment_user.username|default:post.post_user.username }}
                        on {{ topic.get_latest_comment.created_at| default:post.created_at }}</p>
                </div>
            </div>
        </div>
        </section>
    {% endfor %}

<section class="py-4 py-xl-2">
    <div class="container">
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
</section>

{% endblock %}